.sev-all{
height: 495px;
background: #FFFFFF;
border-radius: 30px;
}

.HM{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 41px;
color: #FFFFFF;
text-transform: uppercase;
}

.titles{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 41px;
text-transform: capitalize;
color: #5196E4;
}

.fa-check{
width: 23px;
height: 35px;
left: 155px;
top: 1262px;
color: #5196E4;

}

.lorem-sev{
left: 188px;
top: 1253px;
font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 31px;
color: #000000;
}

.btn-sev{
width: 80%;
background: #5196E4;
border-radius: 10px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.sev-sv{
width: 92px;
height: 121px;
margin-bottom: 407px;
}

.sv-img{
width: 40rem;
height: 20rem;
margin-bottom: 327px;
}



.margin-sev{
margin-bottom: 100px;
}

@media(max-width: 1200px){

.sev-all{
width: 24.0rem;
height: 33.4rem;
}

.sev-img{
width: 24.0rem;
height: 33.4rem;
}
.lorem-sev{
font-size: 1rem;
}

.btn-sev{
padding-top: 0.7rem;
padding-bottom: 1.2rem;
width: 10rem;
height: 2.5rem;
font-size: 0.7rem;
background: #5196E4;
border-radius: 10px;
}
.titles{
font-size: 2.5rem;
}
.sev-sv{
width: 4.5rem;
height: 6rem;
}
.sv-img{
width: 24.0rem;
margin-bottom: 15rem;
}
.fa-check{
width: 2rem;
height: 1.4rem;
}
}

@media(max-width: 768px){
.margin-sev{
margin-bottom: 3rem;
}
}
